# add bin/ to PATH
PATH_add bin

# Set up PDM
direnv_load /bin/sh -c 'eval "$(pdm --pep582 "$(basename $SHELL)")"; direnv dump'

# activate the virtualenv if it exists
if [ -d .venv ]; then
    source .venv/bin/activate
fi
