# mac
.DS_Store

# IDEs
.vscode/

# Python
__pycache__/
__pypackages__/
.venv/

# testing
.pytest_cache/
.tox
pytest*.xml
lib/

# packaging
.pdm.toml
.pdm-python
dist/
build/

## Ignore all files in .run/
.run/*

# not the postgres config
!.run/postgres/
.run/postgres/*
!.run/postgres/postgresql.conf

# not the collector config
!.run/collector/
.run/collector/*
!.run/collector/config.yaml
