[project]
name = "dl-jot"
description = "A library for instrumenting code and sending telemetry information to an aggregator"
requires-python = ">=3.7"
license = { text = "MIT" }
dynamic = ["version"]
authors = [{ name = "Colin Putney", email = "colin.putney@descarteslabs.com" }]
dependencies = ["requests~=2.26"]

[project.urls]
homepage = "https://github.com/descarteslabs/jot"

[project.optional-dependencies]

[build-system]
requires = ["pdm-pep517"]
build-backend = "pdm.pep517.api"

[tool]
[tool.pdm]
version = { use_scm = true }

[tool.pdm.dev-dependencies]
dev = [
    "black~=22.3",
    "mock~=4.0",
    "pytest-mock~=3.6",
    "pytest-order~=1.0",
    "pytest~=6.2",
    "requests-mock~=1.9.3",
    "tox-pdm~=0.3.1",
    "tox>=3.25.0",
    "twine~=4.0.1",
]

[tool.pytest.ini_options]
mock_use_standalone_module = true
testpaths = ["tests"]

[tool.black]
line-length = 120
target-version = ["py37"]
